.intro
{
    font-family: 'Lemonada', cursive;
    text-align: center;
    color:pink;
    visibility:hidden;

}
#firsttransition
{
    display: block;
  margin-left: auto;
  visibility:hidden;

}
.space1
{
     line-height:80%;
}

.smallsize
{
    font-size:x-small;
    text-align:left;
}
.space3
{
     line-height:60%;
}
.space2
{
    letter-spacing:-3px;
}

.img1
{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
body
{
background-color:black;
}