<html lang="en">
    <head>
        {% block links %}

        {% endblock %}

        {% block meta %}

        {% endblock %}
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        {% block titlescript %}

        {% endblock %}
        {% block musicintroduction %} {% endblock %}

        {% block project_title %}

        {% endblock %}

        {% block quote %}

        {% endblock %}

       {% block content %}


         {% endblock %}

         {% block javascriptcodes %}

        {% endblock %}

        {% block additionalscripts %}
        {% endblock %}
    </body>
</html>