{% extends "first_layout.html" %}
{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@414&display=swap" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
{% endblock %}


{% block meta %}
    <meta name='viewport' content="width=device-width, initial-scale=1, user-scalable=yes">
{% endblock %}

{% block title %}
    Welcome to the Page!
{% endblock %}

{% block musicintroduction %}
 <p class ="intro smallsize space3"><span id="transition8">Press M for music!</span></p>
{% endblock %}

{% block content %}
    <h1 class ="intro space1"><span id="transition1">Hello there</span><span id="transition2">, come in!</span><br> <br>
    <span id="transition3">You must be very tired</span></h1>
    <span id="transition7"> <img class ="img1" src="static/images/neon.gif" onerror="this.src = 'static/images/sadboi.gif'; this.width = '500'; this.height ='300'"> </span>
    <h1 class ="intro space3"><div class="space2"><span id="transition4">S o o t h e</span><br><br><span id="transition5">y o u r s e l f</span></div>    </h1>
    <br>
    <h1 class="intro space1"><span id="transition6">Press <span id="blinker">Spacebar</span> to enter this website!<br><br> or click anywhere (for mobile users!)</span></h1>
    <audio id="firsttransition" loop><source src="static/music/thom.mp3"></audio>
{% endblock %}


{% block javascriptcodes %}
    <script src="static/javascript/player.js"></script>
{% endblock %}