{% extends "first_layout.html" %}
{% block links %}
        {% include "links.html" %}
{% endblock %}


{% block meta %}
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
{% endblock %}

{% block title %}
{% endblock %}


{% block titlescript %}


{% endblock %}

{% block musicintroduction %}

{% endblock %}

{% block project_title %}
    {% include "project_title.html" %}
{% endblock %}

{% block quote %}

{% endblock %}

{% block content %}

{% endblock %}


{% block javascriptcodes %}
    <script src="static/javascript/home.js"></script>
{% endblock %}

{% block additionalscripts %}

{% endblock %}